<div class="col">
  <form>
    <p class="h5 text-center mb-4">Sign In</p>

    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" id="defaultForm-name" class="form-control" mdbActive>
      <label for="defaultForm-name">Full Name</label>
    </div>

    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" id="defaultForm-email" class="form-control" mdbActive>
      <label for="defaultForm-email">Email</label>
    </div>

    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="number" id="defaultForm-number" class="form-control" mdbActive>
      <label for="defaultForm-number">Mobile Number</label>
    </div>

    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
      <label for="defaultForm-pass">Password</label>
    </div>

    <div class="text-center">
      <button class="btn btn-default waves-light" mdbRippleRadius>Sign up</button>
    </div>

  </form>

</div>