<div class="row">

    <div class="card col-4 mb-1 mt-4" *ngFor="let bookDetail of booksDetails | search: searchArg">

        <div class="card-body">
            <h4 class="card-title">{{bookDetail.name}}</h4>
            <div class="card-text ">
                <p>Author is : {{bookDetail.author}}</p>
            </div>
            <div class="flex-row">
                <span>
                    <b>Price: {{bookDetail.price}}</b>
                </span>
                <button class="btn btn-default" (click)="addTocart(bookDetail)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>