<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default justify-content-between" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Books Kart</strong></a>
    </logo>
    <links>
        <app-search></app-search>
        <ul class="navbar-nav nav-flex-icons waves-light ml-auto">
            <li class="nav-item waves-light" mdbRippleRadius (click)="gotoShoppingcart()">
                <a class="nav-link"><i class="fa fa-shopping-cart fa-lg shopping-cart"><span class="badge orange">{{cartCount}}</span></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius (click)="gotoProfile()">
                <a class="nav-link"><i class="fa fa-user-circle fa-lg"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius (click)="gotoSignin()">
                <a class="nav-link"><i class="fa fa-sign-in fa-lg"></i></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<main>
    <div class="container" style="height:1300px;">
        <div class="row mt-5 pt-5">
            <div class="col" text-center>
                <router-outlet></router-outlet>
            </div>  
        </div>
    </div>
</main>

<!-- /.Main -->