<div class="row mb-2">
    <div class="col-4">Name</div>
    <div class="col-4">{{profileInfo.name}}</div>
</div>
<div class="row mb-2">
    <div class="col-4">Email</div>
    <div class="col-4">{{profileInfo.email}}</div>
</div>
<div class="row mb-2">
    <div class="col-4">Gender</div>
    <div class="col-4">{{profileInfo.gender}}</div>
</div>
<div class="row mb-2">
    <div class="col-4">Mobile Number</div>
    <div class="col-4">{{profileInfo.mobile_number}}</div>
</div>
<div class="row mb-2">
    <div class="col-4">Address</div>
    <div class="col-4">
      <div>{{profileInfo.address.plat_no}}</div>
      <div>{{profileInfo.address.street}}</div>
      <div>{{profileInfo.address.city}}</div>
      <div>{{profileInfo.address.pincode}}</div>
    </div>
</div>

